# Servidor
PORT=3000
SESSION_SECRET=clave_secreta_sgci_2026

# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=Sara12344321
DB_PASSWORD=12344321
DB_NAME=ciudad_inteligente

# Usuario administrador 
DB_ROOT_USER=Sara12344321
DB_ROOT_PASSWORD=12344321
